
 body {
        background-color: rgb(67, 83, 221);
            }
        .class1 {
                font-size:16;
                color: white;
            }
        .class2 {
                font-size: 20;
                color: rgb(255, 255, 255);
            }